BASE_URL=https://spectora-local.sa.ngrok.io
SECRET_KEY=
ZUPLO_API_KEY=

ROTATION_BUCKET_NAME=working-copy-rotation-bucket

# OAuth JWT Authentication
AUTH_ISSUER=https://spectora-local.sa.ngrok.io
JWKS_URL=https://spectora-local.sa.ngrok.io/oauth/discovery/keys
AUTH_AUDIENCE=spectora-api
